// Variables
@import 'variables';

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Asap', sans-serif;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}


.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.9)
}

.lds-ripple {
    display: inline-block;
    position: relative;
    top: 47%;
    left: 47%;
    width: 1000px;
    height: 1000px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    color: #f1a80f;
    -webkit-animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(1) {
    border-color: #f1a80f;
  }
  .lds-ripple div:nth-child(2) {
    border-color: #f1a80f;
    -webkit-animation-delay: -0.65s;
    animation-delay: -0.65s;
  }
  .lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


.contact {
    background-image: url('/images/background/contact.jpg');
}

.callback {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url('/images/background/airport_architecture2.jpg');
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.6)), url('/images/background/bg_adults-about.jpg');
}

.news {
    background-image: url('/images/background/bg_news.jpg');
}

.branches {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('/images/background/location-tech.jpg');
}

.flight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('/images/background/flight1.jpg');
}

.reg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.6)), url('/images/background/airport_architecture.jpg');
}

.hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('/images/background/hotel-room.jpg');
    background-position: center bottom;
}

.visa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('/images/background/visa-ma.jpg');
    background-position: center;
}

.study {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('/images/background/study-ma.jpg');
    background-position: center;
}

.legal {
    background-image: url('/images/background/tc-1.jpg');
    background-position: top;
}

.privacy {
    background-image: url('/images/background/privacy.jpg');
}


.faq {
    background-image: url('/images/background/bg_2.jpg');
}

.modal {
    transition: opacity 0.25s ease;
}

.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.service_cont_sub {
    background-color: rgba(7, 10, 16, 0.9);
}

.branch_cont {
    background-color: rgba(1, 7, 32, 0.7);
}

.ad_container {
    background-color: #000;
    background: rgba(0, 0, 0, 0.6);
}

.ad_pop {
    background-color: #fff;
    background: rgba(253, 251, 251, 0.8);
}

.container_top {
    z-index: 1;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 6em;
    line-height: 0.1em;
    vertical-align: -0.6em;
}

.group:hover .group-hover\:block {
    display: block !important;
}

input[type="radio"]+label span {
    transition: background .2s,
        transform .2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked+label span {
    background-color: #f1a80f;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked+label {
    color: #f1a80f;
    font-weight: 600;
}

/* Tab content - closed */
.tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

/* :checked - resize to full height */
.tab input:checked~.tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    float: right;
    right: 0;
    top: 0;
    display: block;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

/* Icon formatting - closed */
.tab input[type=radio]+label::after {
    content: "\25BE";
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #b8c2cc;
}

.tab input[type=checkbox]+label::after {
    content: "\0002C5";
    line-height: 1.5;
    font-size: 1.5rem;
    color: #718096;
    font-weight: bold;
}

/* Icon formatting - open */
.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
    background-color: #f1a80f;
    color: #f8fafc;
}

.tab input[type=checkbox]:checked+label::after {
    transform: rotate(180deg);
}

#permitted:checked~.blocked {
    display: none;
}

#permitted:checked~button {
    display: block;
}

.terms input[type="checkbox"]+label span {
    transition: background .2s,
    transform .2s;
}

.terms input[type="checkbox"]+label:hover span {
    transform: scale(1.2);
}

.terms input[type="checkbox"]:checked+label span {
    background-color: #f1a80f;
    box-shadow: 0px 0px 0px 2px white inset;
}

.terms input[type="checkbox"]:checked+label {
    color: #f1a80f;
}

.search {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Toast open/load animation*/
.alert-toast {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Toast close animation*/
.alert-toast input:checked~* {
    -webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes fade-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
}

@keyframes fade-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}
.footer_icon {  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.footer_icon:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}